In [1]:
#input from user

In [ ]:
a = input()

In [1]:
a = input("Enter a =")
print(a)

Enter a =10
10

In [1]:
a = int(input("Enter a = "))
print(a)
type(a)

Enter a = 15
15

int

In [2]:
p = int(input("Enter p = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))

i = p*t*r

print("The value of i =", i)

Enter p = 150
Enter t = 2
Enter r = 250
The value of i = 75000.0

In [2]:
#int to string
a = 10
b = str (a)
print(b)

10

In [22]:
#int to float
a = 10.5
b = float (a)
b
#o is only false in boolean

10.5

In [4]:
a = 10
b = 4
c= complex(a,b)
c
# j is the complex number in python and its tells root over minus one

(10+4j)

In [13]:
#same data types bhyo bhne matra it operates 
#int and string dont matchrabi

In [4]:
a = "Hello "
b =  10
c = a + str(b)
print(c)

Hello 10

In [9]:
name = input("Enter name = ")
age = int(input(" Enter age = "))
add = input (" Enter add = ")
info ('Hello everybody i am', name + 'i am', age,'and i live in'+ str (add))
print(info)

Enter name = aadita
 Enter age = 14
 Enter add = sdf

NameError: name 'info' is not defined

In [17]:
name = input("Your name = ")
physics = int(input("Enter the marks of physics = "))
math = int(input("Enter the marks of math = "))
nepali = int(input("Enter the marks of nepali = "))
socialstudies = int(input("Enter the marks of social studies = "))
economics = int(input("Enter the marks of economics = "))
                  
total = physics + math + nepali + socialstudies + economics
print(total)
per = total/5
print(per)

Your name = aaditya
Enter the marks of physics = 15
Enter the marks of math = 45
Enter the marks of nepali = 75
Enter the marks of social studies = 47
Enter the marks of economics = 74
256
51.2

In [18]:
ns = input("Company name = ")
km = int(input("Total Kilometer = "))
p =  int(input("Total fuel = "))

mil = km/p
print(mil)

Company name = pulsar ns 200
Total Kilometer = 35699
Total fuel = 200
178.495

In [2]:
# string ko search
info = "Ram shyam hari Geeta hanu Ramesh hanuman"
name = "Ram"
if name in info:
    print("Yes")
    print(info.count(name))

Yes
2

In [5]:
info = "Ram shyam hari Geeta hanu Ramesh hanuman". lower()
name = input("Nam k ho = ").lower()
if name in info:
    print("Yes")
    print(info.count(name))
else:
    print("xaina tero tyo nam", name)

Nam k ho = ram
Yes
2

In [4]:
info = "Ram shyam hari Geeta hanu Ramesh hanuman"
print(info.upper())
print(info.lower())

RAM SHYAM HARI GEETA HANU RAMESH HANUMAN
ram shyam hari geeta hanu ramesh hanuman

In [11]:
info = "Ram shyam hari Geeta hanu Ramesh hanuman"
info.split()

['Ram', 'shyam', 'hari', 'Geeta', 'hanu', 'Ramesh', 'hanuman']