In [ ]:
# # set
# # no indexing
# # unordered
# # multiple but no duplicate data
# # mutable
# set is also defined by curly bracket
# without key vallue is called set
# no concatenation

In [5]:
s = {"Apple", "Ball", "Cat", "Dog", "Elephant"}
s.remove("Ball")
print(s)

{'Dog', 'Cat', 'Elephant', 'Apple'}

In [ ]:
s = {"Apple", "apple", "Ball", "Cat", "Dog", "Elephant"}
print(s)

In [2]:
a = {1,2,3,4,5}
b = {5,6,7,8,9}
c = a,b
c

({1, 2, 3, 4, 5}, {5, 6, 7, 8, 9})

In [ ]:
s = {"Apple", "Ball", "Cat", "Dog", "Elephant"}

In [3]:
# add
s = set()
s.add("apple")
s.add("ball")
print(s)

{'ball', 'apple'}

In [4]:
# concat garna mildaina but to do update functon
a = {1,2,3,4,5}
b = {5,6,7,8,9}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [7]:
a = [1,2,3,4,5,5,6,7,8,9,2,3,5,8,9]
a = list(set(a))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# # # no mutable data inside side
# # # no, list, dict, set inside set
# # inside set there is alawyas int,float, tuple, str only immutable data type
# immutable data means static data

In [8]:
a = {(1,2,3)}
a

{(1, 2, 3)}

In [15]:
Apple = {"jordan", "Ball", "tom", "Dog", "Elephant"}
ms = {"Bill", "tom", "iron", "antman"}
# intersection
i = Apple.intersection(ms)
print(i)
u = Apple.union(ms)
print(u)
# only apple
print(Apple-ms)
# function 
# Apple.difference(ms) means reduce apple from ms

{'tom'}
{'Ball', 'tom', 'Dog', 'iron', 'jordan', 'Elephant', 'antman', 'Bill'}
{'Ball', 'Dog', 'Elephant', 'jordan'}

In [20]:
a = {"jordan", "Ball", "tom", "Dog", "Elephant", "Bill", "tom", "iron", "antman", "xyz", "abc"}
print(a-Apple)

{'iron', 'abc', 'antman', 'Bill', 'xyz'}