In [1]:
a = [[1,2,3]]
print (a)

[[1, 2, 3]]

In [2]:
# append means adding
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    a. append([name, age, add])
print(a)

Enter n = 2
Enter name = aaditya
Enter age = 23
Enter add = bhaktapur
Enter name = aashutosh
Enter age = 23
Enter add = dakshindhoka
[['aaditya', 23, 'bhaktapur'], ['aashutosh', 23, 'dakshindhoka']]

In [3]:
a = [['Ram' , 34, 'Kathmandu'],['hanuman',10000, 'Sworgalok]]
a.append(['aashutosh', 23, 'Shivachok'])
print(a)

SyntaxError: unterminated string literal (detected at line 1) (2261324031.py, line 1)

In [23]:
# search command
a = [['Ram', 34, 'Kathmandu'], ['shyam', 15, 'balaju']]

name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = Ram
['Ram', 34, 'Kathmandu']

In [25]:
a = [['Thapasir', 34, 'Kathmandu'], ['shyam', 15, 'balaju']]
name = input("Enter name = ")
for i in a:
    if name.lower() in i[0].lower():
        print(i)

Enter name = thapasir
['Thapasir', 34, 'Kathmandu']